:root {
  --color-primary: green;
  --color-default: black;
  --color-muted: grey;
  --color-error: red;
  --border-radius: 2px;
  --font-family-primary: ui-monospace, Menlo, Monaco, 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

html {
  box-sizing: border-box;
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
input,
ul {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: normal;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
button,
nav,
input,
p {
  line-height: 1.5;
  margin-bottom: 1rem;
  font-size: 1rem;
}

a,
button {
  appearance: none;
  font-size: 1rem;
  font-weight: normal;
  color: var(--color-primary);
  cursor: pointer;
  border: none;
  background: none;
  font-family: var(--font-family-primary);
  text-decoration: none;
}

button:hover,
a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  text-decoration: underline;
}

input {
  appearance: none;
  font-family: var(--font-family-primary);
  width: 100%;
  border: 1px solid var(--color-default);
  background: none;
  border-radius: var(--border-radius);
  text-align: left;
  padding: 0.5rem 1rem;
}

input:out-of-range {
  border: 1px solid var(--color-error);
}

input:invalid {
  border: 1px solid var(--color-primary);
}
