:root {
  --font-family-primary: ui-monospace, Menlo, Monaco, 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

html {
  box-sizing: border-box;
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
input,
ul {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: normal;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
button,
nav,
input,
p {
  line-height: 1.5;
  margin-bottom: 1rem;
  font-size: 1rem;
}

a,
button {
  appearance: none;
  font-size: 1rem;
  font-weight: normal;
  color: green;
  cursor: pointer;
  border: none;
  background: none;
  font-family: var(--font-family-primary);
}

button:hover,
a:hover {
  text-decoration: underline;
}

input {
  appearance: none;
  font-family: var(--font-family-primary);
}

input:required {
  border: 1px solid black;
}

input + span {
  position: relative;
}

input:required + span::after {
  font-size: 0.7rem;
  position: absolute;
  content: 'required';
  color: white;
  background-color: black;
  padding: 5px 10px;
  top: -26px;
  left: -70px;
}

input + span {
  position: relative;
}

input + span::before {
  position: absolute;
  right: -20px;
  top: 5px;
}

input:invalid {
  border: 2px solid red;
}

input:invalid + span::before {
  content: '✖';
  color: red;
}

input:valid + span::before {
  content: '✓';
  color: green;
}

input + span {
  position: relative;
}

input + span::after {
  font-size: 0.7rem;
  position: absolute;
  padding: 5px 10px;
  top: -26px;
}

input:required + span::after {
  color: white;
  background-color: black;
  content: 'Required';
  left: -70px;
}

input:out-of-range + span::after {
  color: white;
  background-color: red;
  width: 155px;
  content: 'Outside allowable value range';
  left: -182px;
}
